# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/

# System files
.DS_Store
*.swp
*.swo

# Logs
*.log
